* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightpink;
}

h1 {
    color: darkgreen;
}

h2 {
    color: green;
}

th {
    color: olivedrab
}

td {
    color: darkolivegreen
}

span {
    color: black;
    font-family: monospace;
    background-color: white;
}
table, td, th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
.description {
    text-align: left;
}
